In [1]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lafacero\anaconda3\envs\rasa\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\lafacero\anaconda3\envs\rasa\lib\site-packages (from mysql-connector-python) (3.15.6)
Requirement already satisfied: six>=1.9 in c:\users\lafacero\anaconda3\envs\rasa\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
  host="192.168.1.12",
  user="root",
  password="onslario89",
  port="31851",
  database="chatbot"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002C1375AFDD8>

In [4]:
#mycursor = mydb.cursor()
#mycursor.execute("CREATE DATABASE chatbot")

In [ ]:

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE inventory (item VARCHAR(255), qty INT)")

In [4]:
mycursor = mydb.cursor()

sql = "INSERT INTO inventory (item, qty) VALUES (%s, %s)"
val = ("X-men", 5)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [13]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM inventory")
myresult = mycursor.fetchall()
list=[]
for x in myresult:
    list.append(x[0])
list

Spider man
X-men

['Spider man', 'X-men']